# SPDX-FileCopyrightText: Copyright (c) 2026 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

[flake8]
per-file-ignores =
    examples/device/ep/nixl_ep/__init__.py:E402
